<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/style.css" />
<title>My Website<3</title>
</head>

<body>
h1{

  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color: #99ccff;
}



 
